* {
  outline: none !important;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h2 {
  text-shadow: 0 1px 1px orange;
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.allTodos button {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  border: transparent;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px #ccc;
  background: #f32222;
  cursor: pointer;
}
.singleTodo {
  border-radius: 50px;
  margin: 10px 0;
  background: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}
.todoText {
  text-align: start;
  flex: 1;
}

.form:focus,
.form:active {
  outline: none !important;
  border: transparent;
}
